@keyframes nav-show{
    from{
        transform: scaleY(0);
    }
    to{
        transform: scaleY(1);
    }
}

@keyframes nav-anchor-show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes nav-hide{
    from{
        transform: scaleY(1);
    }
    to{
        transform: scaleY(0);
    }
}

@keyframes nav-anchor-hide{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes skills-icon-rotate{
    from{
        transform: rotateY(0);
    }
    to{
        transform: rotateY(720deg);
    }
}

@keyframes swing {
    20% {
      transform: rotate3d(0, 0, 1, 15deg);
    }
  
    40% {
      transform: rotate3d(0, 0, 1, -10deg);
    }
  
    60% {
      transform: rotate3d(0, 0, 1, 5deg);
    }
  
    80% {
      transform: rotate3d(0, 0, 1, -5deg);
    }
  
    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

