$background-color:  #F0E1BC;
$background-color-alt: #815355;
$background-color-dark: rgb(26, 26, 26);

$dark-text-color: rgb(0,0,0);
$dark-text-color-hover: rgb(80,80,80);

$bright-text-color: rgb(255, 255, 255);

$project-item-clip: 10;
$project-item-clip-mobile: 5;
$project-item-padding-Y: 3rem;

$contact-icon-font-size: 2rem;
$box-shadow-regular: 5px 10px 20px rgba(0,0,0,.3);
$border-radius-regular: 5px;
